@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');


.loginForm {
    font-family: 'Cormorant Garamond', serif;    
    width: 100%;
    max-width: 650px;
    padding: 15px;
    margin: auto;
    height: 100%;
    margin-top: 160px;
    text-align: center;
    font-weight: bold;
}

.logoName {
    font-size: 30px;
    font-weight: bold;
}

.loginForm input {
    background-color: #C8C8C8;
    border: 1px solid black;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 8px;
}

.Button {
    width: 154px;
    height: 35px;
    color: black;
    font-weight: bold;
    background-color: #C8C8C8;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 1.5625em;
}

.Button:hover {
    color: black;
    background-color: #c9d700;
}

