@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');

.modal {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
    color: #c9d700;
}

.modalContent {
    background-color: #131f28;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modalHeader h6 {
    margin: 0;
}

.modalHeader {
    padding: 15px;
}

.modalBody {
    padding: 15px 20px;
    font-weight: bolder;
}

.labelFile {
    cursor: pointer;
    color: #c9d700;
    font-weight: bold;

}

.labelFile:hover {
    color: white;
}

.inputFile {
    display: none;
}

.btnClose {
    color: #c9d700;
    float: right;
    font-size: 30px;
}

.btnClose:hover, .btnClose:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.Button {
    width: 100px;
    height: 30px;
    color: #c9d700;
    background-color: #131f28;
    margin-top: 20px;
    border: 1px solid #c9d700;
    border-radius: 1.5625em;
}

.Button:hover {
    color: white;
    border: 1px solid white;
}
